annotated-types
blinker
cachetools
certifi
charset-normalizer
click
docx=
Flask=
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
lxml
Markdown
MarkupSafe
numpy
pandas
pdfkit
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
PyPDF2
python-dateutil
python-docx
python-dotenv
pytz
requests
rsa
six
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
Werkzeug
